/* Bootstrap configuration */
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';

/* Bootstrap layout and components */
@import 'bootstrap/scss/root';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/tables';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/alert';

/* Select2 */
@import 'select2/src/scss/core';

/* Select2 overrides */
.select2-container--default {
	.select2-selection--multiple {
		@include transition($input-transition);
		border-color: $input-border-color;

		.select2-selection__choice {
			background-color: transparent;
			border: 1px solid darken($light, 20%);
			color: $input-color;
		}
	}

	&.select2-container--focus {
		.select2-selection--multiple {
			border-color: $input-focus-border-color;
			box-shadow: $input-focus-box-shadow;
		}
	}

	.select2-search--inline .select2-search__field {
		vertical-align: -2px;
	}
}

/* Application styles */

html {
	height: 100%;
}

body {
	min-height: 100%;
	overflow-x: hidden;
	position: relative;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.site-header {
	padding: 10px 0 20px;
}

.app-description {
	display: block;
	margin-top: 8px;
}

.row {
	padding-bottom: 10px;
}

.hidden {
	display: none;
}

label {
	font-weight: bold;
}

.num-tools-info {
	margin-left: 10px;
}

.loading #output-wrapper,
.loading .form-control,
.loading .form-select,
.loading .select2-container {
	opacity: 0.5;
	pointer-events: none;
}

#multi-date-selector .row {
	padding-bottom: 0;
}

#output-wrapper .table {
	position: relative;
}

#chart {
	padding: 10px 0 20px;
}

.toolviews-entry {
	box-sizing: border-box;
	height: 40px;
	line-height: 40px;

	& th,
	& td {
		padding-bottom: 0;
		padding-top: 0;
	}

	&--rank::after {
		content: '.';
	}

	&--background {
		height: 40px;
		left: 0;
		opacity: 0.6;
		position: absolute;
		top: 0;
		transition: all 1s ease;
		width: 0;
		z-index: -1;

		&.animate {
			width: 100%;
		}
	}
}

.summary-table--color-block {
	display: block;
	height: 20px;
	width: 20px;
}

.site-footer {
	bottom: 0;
	display: block;
	left: 0;
	min-height: 96px;
	position: absolute;
	width: 100%;
}

.container::after {
	content: '';
	display: block;
	height: 96px;
}
